---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
$family-sans-serif: "Roboto", sans-serif;

$navbar-item-img-max-height: 5rem;

@import "../node_modules/bulma/bulma.sass";

header, main {
  padding: 0;
}

@media screen and (min-width: 767px) {
  header, main {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  @extend .title;
}

h1 {
  @extend .is-1
}

h2 {
  @extend .is-2
}

h3 {
  @extend .is-3
}